html
    head 
        title #{subject}
    body 
        h3 Hello #{username}
        p You have successufully registered on our site 
             a(href=url target='_blank') #{url}
        p Your email is #{email}